*{ /*Zering the page*/
	margin: 0;
	padding: 0;
}

/* Personalizando scroll-bar */
::-webkit-scrollbar {
width:10px;
height: 10px;
}

::-webkit-scrollbar-track {
background:#333;
}

::-webkit-scrollbar-thumb {
background: #feb236;
}


/* Menu Horizontal*/

ul{
	margin-top: -40px;
	float: right;
}

li {
    list-style: none; 
    margin: 6px;
    display: inline-block;
}

li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}


/* Corpo da Pagina */
body{
	background-color: gray;
}

/*topo*/
#top{
	background-color: #a2b9bc;
	height: 80px;
	max-width: 100%;
	text-align: center;
	padding-top: 40px;
	border-radius: 2px;
	border-bottom-style: solid;
}

/*Baixo*/
#bottom{
	background-color: black;
	text-align: center;
	color: white;
	float: bottom;
	height: 60px;
	margin-top: 460px;
	padding-top: 18px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}

/*meio*/
#middle{
	background-color: #d64161;
	text-align: center;
	width: 300px;
	max-height: 600px;
	float: right;
	margin-right: 465px;
	border-style: solid;
	border-color: gray;
	border-radius: 16px;
	margin-top: 30px;
	padding-bottom: 5px;
}

/*Ao lado*/
#aside{
	background-color: #6b5b95;
	width: 60px;
	float: left;
	height: 460px;
	border-right-style: solid;
	width: 170px;
}
